*.csv
*.out
*.png
*.pyc
*.fasta
codes/nohup.out

!data/deeploc_clean.csv
!data/pfam_clean.csv
!data/tox_clean.csv
!data/immune_clean.csv

!results/deeploc_search.csv
!results/pfam_search.csv
!results/immune_search.csv
!results/tox_search.csv

!results/logs/deeploc_search.log
!results/logs/pfam_search.log
!results/logs/tox_search.log
!results/logs/immune_search.log

!results/logs/deeploc_noise.log
!results/logs/pfam_noise.log
!results/logs/tox_noise.log
!results/logs/immune_noise.log

trial.py
trial.sh
trial.csv
trial.log
plotter.py