*.csv
*.out
*.png
*.pyc
*.fasta
codes/nohup.out

!data/deeploc_clean.csv
!data/pfam_clean.csv
!data/tox_clean.csv
!data/immune_clean.csv

!results/deeploc_search.csv
!results/pfam_search.csv
!results/immune_search.csv
!results/tox_search.csv

!results/logs/deeploc_search.log
!results/logs/pfam_search.log
!results/logs/tox_search.log
!results/logs/immune_search.log

!results/deeploc_noise.csv
!results/pfam_noise.csv
!results/tox_noise.csv
!results/immune_noise.csv

!data/prosite_motives.csv
!data/prosite_signatures.csv
!results/scaled_indices.csv

!results/dedicated_encodings/*

trial.py
trial.sh
trial.csv
trial.log
plotter.py
codes/visualization/timka_visul5.py
codes/visualization/timka_visul4.py
codes/visualization/timka_visul3.py
codes/visualization/timka_visul.py
codes/visualization/timka_visul2.py
codes/visualization/balintvisul.py
codes/visualization/balintscode.py
codes/SHAP.md
.vscode/settings.json
